html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.showCart{
    display:flex;
}

.notShowCart{
    display:none;
}


#label001{
    width:800px;
    height:100px;
    margin-left:100px;
    margin-top:100px;
}

#checkoutbutton{
    
    display:block;
    margin:0 auto;
    width:100px;
    height:50px;
}

