@model IEnumerable<Movie>

<div class="row offset-lg-1 text-center justify-content-center">

    @*foreach(var item in Model)
    {
        <div class="card col-md-2 m-1">
            <a asp-controller="Movie" asp-action="Details" asp-route-id=""></a>
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="card-title card-text">Title</div>
                <h6>SEK price</h6>
            </div>
        </div>
    }*@
</div>