

<div id="label001">
<div class="offset-sm-4">
    <form asp-action="Checkout">
        <div class="form-group m-3">
                <label for="exampleInputEmail1" class="form-label h4 me-3">Enter your email:</label>
                <input type="email" class="form-control" placeholder="enter your email" name="email" id="email" aria-describedby="emailHelp">
                <div><p class="text-body-tertiary">Leave blank if you are a new customer.</p></div>
        </div>
        <br />
            <button id="checkoutbutton" type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>
</div>


   
