@model DEX_MovieShopProject.Models.ViewModels.FrontPageVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:50px">Welcome To DEX Movie Shop</h1>
  
</div>


@* -----------------carousel-------------- *@

<partial name="_carouselPartial"/>



@* --------------movie List all-------------- *@

<h2 class="m-5 text-center">Movie List</h2>

<partial name="_movieListPartial" model="Model.AllMovies" />




@* -----------------movie List-------------- *@

<h3 class="m-5 text-center">Our bestsellers</h3>
<partial name="_moviesPartial" model="@Model.TopFiveMovies" />

<h3 class="m-5 text-center">Cheap Movies</h3>
<partial name="_moviesPartial" model="@Model.CheapMovies" />

<h3 class="m-5 text-center">NewestMovies</h3>
<partial name="_moviesPartial" model="@Model.NewestMovies" />

<h3 class="m-5 text-center">Oldest Movies</h3>
<partial name="_moviesPartial" model="@Model.OldestMovies" />






