@model IEnumerable<DEX_MovieShopProject.Models.Movie>
@{
    ViewData["Title"] = "Search Page";
}


<div class="container" style="margin-top:50px">
            <div class="row">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    <div class="form-group">
                        @Html.TextBox("searchTitle", null, new { @class = "form-control", placeholder = "Search by Title" })
                    </div>

                    <button type="submit" class="btn btn-primary">Search</button>
                }
            </div>
            <hr/>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                @foreach (var movie in Model)
                {
                    <div class="col">
                        <div class="card border-light mb-3" style="max-width: 25rem;">
                            <div class="card-body">
                                <img src="~/@movie.ImgUrl" class="bd-placeholder-img card-img-top" height="400" alt="...">
                                <h4 class="card-title">@movie.Title</h4>
                                <p class="card-text">Director : @movie.Director</p>
                                <p class="card-text">Release Year : @movie.ReleaseYear</p>
                                <h4 class="card-title">SEK 388,00 <small class="text-body-secondary fw-light">kr</small></h4>
                            </div>
                            <div class="btn-group" style="margin-bottom:20px">
                                <button type="button" class="btn btn-secondary" style="margin:0 10px 0 10px">Add to Cart</button>
                                <button type="button" class="btn btn-light" style="margin:0 10px 0 10px">View Details</button>
                            </div>
                        </div>
                    </div>
                }
    </div>
